:ruby
  Heading = import("/components/Heading")
  Counter = import("/components/Counter")
  Handlers = import("/components/Handlers")

  def mount
    puts "mounted"
  end
:ruby
  title = props[:title]
  items = ["foo", "bar", "baz"]
%div
  %Heading My webpage
  %h2(class="subtitle")= title
  %Handlers
  %Counter
  %ul
    = items.to_enum.with_index.map do |item, i|
      %li[i](foo="bar"){class: i.zero? && "first"}
        %h3
          %span> Static
          %span= item
        %ul
          = item.each_char.with_index.map do |char, j|
            %li[j]= char
:css
  h2 {
    background: #f0f;
  }
