:ruby
  Button = import("./Button")

  def initialize
    @count = 0
    @slug = ""
  end

  def handle_increment =
    @count += 1

  def handle_decrement =
    (@count = @count - 1 if @count > 0)

  def handle_input(event) =
    @slug = slugify(event.dig(:currentTarget, :value).to_s)

  private

  def slugify(str) =
    str
      .unicode_normalize(:nfd)
      .gsub(/[\s_-]+/, "-")
      .gsub(/[^a-z0-9-]/, "")

%fieldset
  %legend Handlers test
  %output.foobar{style: { display: "block", font_size: 2.em }}= @count

  %Button.decrement(onclick=handle_increment) Increment
  %Button.increment(onclick=handle_decrement) Decrement
  / this is a comment
%fieldset
  %legend Callbacks
  %div
    Title:
    %input(oninput=handle_input)</
  %p
    Slug:
    %output<= @slug
    /
      this is a
      %p lol
      multiline comment
:css
  button {
    padding: 1em;
    border: 1px solid #0006;
    border-radius: 3px;
    background: #fc0;
  }
  .increment {
    background: #9f9;
  }
  .decrement {
    background: #99f;
  }
  .foobar {
    font-size: 2em;
    background: #f0f;
  }
