:ruby
  def initialize
    @count = 0

    async do
      loop do
        puts "Increasing count"
        @count += 1
        sleep 1
      end
    end
  end

%div
  %output= @count
  = if @count in 5..10
    %h2 HELLO!
